---
- hosts: all
  remote_user: root
  sudo: true
  vars:
     packages: ['git', 'python3-pip', 'nmap']
  tasks:
     - name: Install Package
       apt: name={{ item }} state=latest
       with_items: packages

     - name: Get DeviceScanner from Git
       git: accept_hostkey=True repo=https://github.com/Helweg/DeviceScanner.git dest=/tmp/git

     - name: Installing nmap for python
       command: pip3 install python-nmap
     
     - name: Move Git files 1
       copy:
         src: /tmp/git/opt/
         dest: /opt/ 
         
     - name: Move Git files 2
       copy:
         src: /tmp/git/etc/
         dest: /etc/
         
     - name: Make pressScanner executable
       command: chmod 755 /etc/init.d/pressScanner
      
     - name: Start Service
       command: /etc/init.d/pressScanner start
